* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: burlywood;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(141, 87, 8);
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: azure;
}

h2{
    display: flex;
    justify-content: center;
}

.card{
    max-width: 300px;
}
.card-title{
    font-weight: bold;
}